@model IEnumerable<BMS.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<h2 style="text-align:center">All Movies Rendering from cache</h2>
<br />

<div class="row" >
    @foreach(var items in Model)
    {
    <div class="col-4" style="height=150px;width:100%; border:1px solid black;border-radius:3px;margin:2px">
        <div>
            <img style="" src="@items.imageUrl" width="100px" height="100px" />
        </div>
        <br />
        <h4 style="text-align:center"><u>@items.MovieName</u></h4>

        <label><b>Actor : </b>@items.Actor</label>&nbsp;&nbsp;
        <label><b>Duration</b> : @items.length</label>&nbsp;&nbsp;
        <label><b>Description : </b>@items.Description</label>


    </div>
    }

</div>



